.wrapper {
    background: $color-background;
}

.container {
    padding: 3.7rem 0rem 3.7rem 0rem;
    @include sm {
        padding: 3.7rem;
    }
}

.row {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 2.6rem;
    @include lg {
        justify-content: space-around;
    }
}

.col-4 {
    display: flex;
    flex-direction: column;
    flex: 0 1 calc(33.33% - 2.6rem);
    @include sm {
        flex: 1 1 calc(100% - 2.6rem);
        max-width: 100%;
    }
}

.col-6 {
    display: flex;
    flex-direction: column;
    flex: 0 1 calc(50% - 2.6rem);
    padding: 2.9rem;
    background: $color-dark2;
    border-radius: 1.2rem;
    @include sm {
        flex: 1 1 calc(100% - 2.6rem);
        max-width: 80%;
    }
}