$font-base: 'Rubik', sans-serif;

/*colors*/

$color-background: #1E1E1E;
$color-dark2: #2D2B29;
$color-white: #FFFFFF;
$color-grey: #9B968B;
$color-primary: #ED9902;
$color-primary_shadow: rgba(237, 155, 3, 0.1);
$color-body: #A19A8B;
$color-border: rgba(255, 255, 255,0.15);
$color-grad: linear-gradient(180deg, #4D4A45 0%, #292824 100%);
$bg-menu: rgba(0, 0, 0,0.4);

/*btn border radius*/

$b-rad: 0.5rem;

/*breakboints*/

$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;