.footer {
    padding: 1.65rem 0rem;
    background: $color-dark2;
    width: 100%;
    &__block {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        @include md {
            flex-direction: column-reverse;
            align-items: center;
            gap: 4rem;
        }
	}
    a:hover{
        color: $color-primary;
        text-decoration: none;
        box-shadow: $color-primary_shadow 0px 3px;
        transition: 0.5s all ease-in-out;
        transform: translateY(-0.1rem);
    }
	&__licence {
        @include text ($font-base, 400, 1.6rem, 1.9rem, $color-white);
        a {
            color: $color-primary;
        }
	}
}
.footer {
    display: block;
    &__nav {
    }
}
.footer-nav {
    &__ul {
        display: flex;
        flex-direction: row;
        gap: 2.4rem;
        align-items: center;
        justify-content: center;
        margin-bottom: 0;
        padding: 0;
        @include text ($font-base, 400, 1.6rem, 1.9rem, $color-white);
        :hover {
            color: $color-primary;
            cursor: pointer;
            box-shadow: $color-primary_shadow 0px 2px;
        }
    }
    &__a {
        color: $color-white;
    }
}
