.pricing {
    padding: 9rem 0rem;
    border-bottom: 0.1rem solid $color-border;
    &__title {
        margin-bottom: 1.7rem;
        span {
            color: $color-primary;
            margin-left: 1rem;
        }
    }
    &__desc {
        @include text ($font-base, 400, 1.6rem, 2.6rem, $color-grey);
        max-width: 460px;
        margin-bottom: 4rem;
    }
}
.columns {
    display: flex;
    flex-direction: column;
    background: $color-dark2;
    padding: 3.2rem;
    align-items: flex-start;
    &__detail {
    }

    &__benefits {
    }
}
.detail {

    &__name {
    }

    &__price {
    }

    &__desc {
    }
}
.benefits {

    &__btn {
    }

    &__advice {
    }
}
