.touch {
    padding-top: 9rem;
    padding-bottom: 5.3rem;
    &__title {
        margin-bottom: 1.7rem;
        span {
            color: $color-primary;
            margin-left: 1rem;
        }
    }
    &__desc {
        @include text ($font-base, 400, 1.6rem, 2.6rem, $color-grey);
        max-width: 460px;
        margin-bottom: 4rem;
    }
}
.field {
    display: flex;
    flex-direction: column;
    &__name {
        padding: 1.4rem 0rem 1.4rem 1.6rem;
        border: 1px solid $color-border;
        border-radius: 0.4rem;
        margin-bottom: 2.4rem;
        width: 100%;
        @include text ($font-base, 400, 1.4rem, 1.7rem, $color-grey);
        background: none;
    }
    &__mail {
        padding: 1.4rem 0rem 1.4rem 1.6rem;
        border: 1px solid $color-border;
        border-radius: 0.4rem;
        margin-bottom: 2.4rem;
        width: 100%;
        @include text ($font-base, 400, 1.4rem, 1.7rem, $color-grey);
        background: none;
    }
    &__message {
        padding: 1.4rem 0rem 8.9rem 1.6rem;
        border: 1px solid $color-border;
        border-radius: 0.4rem;
        margin-bottom: 2.4rem;
        width: 100%;
        @include text ($font-base, 400, 1.4rem, 1.7rem, $color-white);
        background: none;
    }
    &__btn {
        padding: 1.3rem 1.8rem;
        @include text ($font-base, 500, 1.4rem, 1.9rem, $color-white);
        border: 1px solid $color-primary;
        border-radius: 0.5rem;
        background: $color-primary;
    }
    button:hover {
        filter: brightness(110%);
        box-shadow: rgba($color: $color-primary_shadow, $alpha: 0.4) 0px 0px 0px 3px, rgba($color: $color-primary_shadow, $alpha: 0.65)0px 4px 6px -1px,rgba($color: $color-white, $alpha: 0.08) 0px 1px 0px inset;
        transition: 0.5s all ease-in-out;
    }
    input {
        @include text ($font-base, 400, 1.4rem, 1.7rem, $color-white);
    }
}